* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* Colores */
:root {
    --color-primario: #9f3647;
    --color-fondo: #181419;
    --color-texto: #ffffff;
    --color-boton-fondo: #9f3647;
    --color-boton-texto: #ffffff;
    --color-scrollbar-fondo: rgb(23, 23, 23);
    --color-scrollbar-thumb: #9f3647;
    --color-boton-hover: rgba(255, 255, 255, 0.3);
    --color-rojo-transparente: #9f3648cd;
    --color-boton-press: #9f3647;
    --color-boton-borde: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-scrollbar-fondo);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb);
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto); 
}

.header {
    background-color: var(--color-primario);
    color: var(--color-texto);
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 1rem 0;
}

.header .nav .logo {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 700;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.header .nav .logo:hover {
    transform: scale(1.2);  
}

.header .nav .nav-link {
    list-style: none;
    display: flex;
    align-items: center;
}

.header .nav .nav-link .list-item {
    margin-right: 20px;
}

.header .nav .nav-link .list-item .linkNav {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.header .nav .nav-link .list-item .linkNav:hover {
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.header .nav .nav-link .list-item .linkNav.iniciarSesion {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.header .nav .nav-link .list-item .linkNav.iniciarSesion:hover {
    background-color: var(--color-primario);
}

/*mobile and tablet view*/

@media (max-width: 768px) {
    .header {
        height: initial;
    }

    .header .nav {
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        row-gap: 20px;
    }

    .header .nav .logo {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .header .nav .nav-link {
        padding: initial;
    }

    .header .nav .nav-link .list-item {
        margin-right: initial;
    }

    .header .nav .nav-link .list-item .linkNav {
        font-weight: 400;
        margin-right: initial;
        font-size: 1rem;
        padding: 0.2rem;
    }
}
/*Desktop view*/
.main .sectionPrincipal {
    color: var(--color-texto);
    background: linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main .sectionPrincipal .tituloPrincipal {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main .sectionPrincipal .subtituloPrincipal {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.main .sectionPrincipal .botonRegistrarse {
    background-color: var(--color-boton-fondo);
    color: var(--color-boton-texto);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.main .sectionPrincipal .botonRegistrarse:hover {
    background-color: var(--color-boton-press);
    transform: scale(0.95);
    box-shadow: 0 0 10px var(--color-boton-hover);
}

.main .buscadorPrincipal {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .buscadorPrincipal .tituloSection {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main .buscadorPrincipal .buscadorPeliculas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.main .buscadorPrincipal .buscadorPeliculas .inputBuscador {
    border: 2px solid var(--color-texto);
    border-radius: 25px;
    color: #0a0909;
    font-size: 1.2rem;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 500px;
}

.main .buscadorPrincipal .buscadorPeliculas .botonBuscador {
    background-color: var(--color-boton-fondo);
    display: inline-block;
    color: var(--color-boton-texto);
    height: 50px;
    margin: 20px 10px;
    padding: 0 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid var(--color-texto);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.main .buscadorPrincipal .buscadorPeliculas .botonBuscador:hover {
    background-color: var(--color-boton-press);
    transform: scale(0.95);
    box-shadow: 0 0 10px var(--color-boton-hover);
}

.main .peliculasTendencia {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.main .peliculasTendencia .tituloSection {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.main .peliculasTendencia .peliculas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.main .peliculasTendencia .peliculas a {
    text-decoration: none;
    color: var(--color-texto);
}

.main .peliculasTendencia .peliculas .pelicula {
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.main .peliculasTendencia .peliculas .pelicula .imgTendencia {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.main .peliculasTendencia .peliculas .pelicula .tituloPelicula {
    z-index: 2;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    max-width: 20rem;
    width: 100%;
    transform: translateY(-50%) translateX(-50%);
    h4 {
        font-size: 2rem;
        font-weight: bold;
        opacity: 0;
        margin-bottom: 0.5rem;
        letter-spacing: 0.1rem;
        transition: opacity 0.5s ease-in-out;
    }
}

.main .peliculasTendencia .peliculas .pelicula:hover {
    box-shadow: 0 0 30px var(--color-rojo-transparente);
    transform: scale(1.1);
}

.main .peliculasTendencia .peliculas .pelicula:hover h4 {
    opacity: 1;
}

.main .peliculasTendencia .peliculas .pelicula:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--color-primario); 
    z-index: 1; 
}

.main .peliculasTendencia .boton {
    border: 1px solid var(--color-texto);
    box-sizing: content-box;
    margin-top: 50px;
    margin-left: 20px;
    background-color: var(--color-boton-fondo);
    color: var(--color-boton-texto);
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 60px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.main .peliculasTendencia .boton:hover {
    background-color: var(--color-boton-press);
    transform: scale(0.95);
    box-shadow: 0 0 10px var(--color-boton-hover);
}

.main .peliculasAclamadas {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.main .peliculasAclamadas .tituloSection {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.main .peliculasAclamadas .aclamadas {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;
}

.main .peliculasAclamadas .aclamadas .peliculaItem {
    border-radius: 25px;
    width: 170px;
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .peliculasAclamadas .aclamadas .peliculaItem .imgAclamada {
    border-radius: 5%;
    width: 95%;
    height: 95%;
    object-fit: cover;
}

/*footer*/
.footer {
    background-color: var(--color-primario);
    color: var(--color-texto);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .nav-link {
    list-style: none;
    display: flex;
    align-items: center;
}

.footer .nav-link .list-item {
    margin-left: 20px;
}

.footer .nav-link .list-item .linkNav {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 700;
    font-size: 1.2rem;
}

.footer .nav-link .list-item .administradorPeliculas {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.flechaArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--color-texto);
    cursor: pointer;
}

/*footer mobile and tablet view*/
@media (max-width: 768px) {
    .footer {
        height: initial;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .footer .nav-link {
        flex-direction: column;
        row-gap: 15px;
    }

    .footer .nav-link .list-item .linkNav {
        font-size: 1rem;
    }

    .footer .nav-link .list-item .administradorPeliculas {
        padding: 0.5rem 0.8rem;
    }
}

hr {
    border: 1px solid var(--color-primario);
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}
